<!-- Hauptcontainer -->
<div class="container-fluid bg-light">
    <div class="container bg-light">

        <!-- Zeile für das Hauptlayout -->
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <!-- Hauptbereich mit Hintergrundfarbe Weiß und Schatten -->
            <div class="col-md-6 bg-white shadow">

                <!-- Kopfzeile der To-Do-App mit gelbem Hintergrund -->
                <div class="card bg-warning mt-4">
                    <h4 class="text-white p-3 pt-2 pb-2">To Do App</h4>
                </div>

                <!-- Eingabebereich für neue Aufgaben -->
                <app-create-todo></app-create-todo>

                <!-- Überschrift für die Aufgabenliste -->
                <h4 class="text-primary mt-4">Tasks :</h4>

                <!-- Bereich für die Anzeige der Aufgabenliste mit Scrollbar -->
                <app-read-todo></app-read-todo>                                

            </div>
            <div class="col"></div>

        </div>

    </div>
</div>