
<button class="btn btn-outline-primary col me-2" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal"
    (click)="call(task)">e</button>

<!-- Modal für die Bearbeitung von Aufgaben -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Eingabebereich für die Bearbeitung von Aufgaben im Modal -->
            <div class="input-group p-4">
                <input type="text" class="form-control" placeholder="Enter task" name="task"
                    [(ngModel)]="editTaskValue">
                <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal"
                    (click)="updateTask()">Update</button>
            </div>
        </div>
    </div>
</div>
</div>